:root{
    --main-color:#eeeeee;
    --gray-color:#888;
    --green-color:#22c55e;
    --red-color:#f44336;
    --orange-color:#f59e0b;
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --hover:#f6f6f6;
    --background-color:#f1f5f9;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-alt-color);
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb:hover {
background-color: var(--blue-alt-color);
}
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;  
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: calc(750px - 30px);
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: calc(970px - 30px);
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.icons{
    width: 14px;
}
/*  start setting for main padge */
.main-flex{
    display: flex;
    min-height: 100vh;
}
/* start left side */
.main-flex .left-bar{
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.main-flex .left-bar .header{
    margin-bottom: 40px;
    position: relative;
}
.main-flex .left-bar .header h3{
    margin: 0;
    position: relative;
    padding: 0 5px;
    text-align: center;
}
.main-flex .left-bar .header::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 65%;
    height: 2px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    z-index: 1;
}
.main-flex .left-bar .header::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -29.5px;
    border: 3px solid white;
    z-index: 2;
}
.main-flex .left-bar .cats {
    position: sticky;
    top: 30px;
}
.main-flex .left-bar .cats .box{
    transition: .3s;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
}
.main-flex .left-bar .cats .box.active{
    background-color: var(--hover) !important;
}
.main-flex .left-bar .cats .box:hover{
    background-color: var(--hover);
}
.main-flex .left-bar .cats .box a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}
.main-flex .left-bar .cats .box img{
    margin-right: 10px;
}
@media (max-width: 766px) {
    .main-flex .left-bar .cats .box a span{  
        display: none;
    }
    .main-flex .left-bar .cats .box a img{  
        margin:0;
    }
    .main-flex .left-bar {  
        padding: 5px;
        width: 65px;
    }
    .main-flex .left-bar .cats .box a{
        justify-content: center;
    }
    .main-flex .left-bar .header {
        margin-bottom:10px; 
    }
    .main-flex .left-bar .header h3{
        font-size: 13px;
        text-align: left;
        font-weight: bold;
    }
    .main-flex .left-bar .header::before,
    .main-flex .left-bar .header::after{
        display: none;
    }
    .main-flex .left-bar .cats .box a img.icons{
        width: 16px;
    }
}
/* end left side */
.main-flex .content{
    background-color: var(--background-color);
    width: 100%;
    overflow: hidden;
}
/* end setting for main padge */
/* start the top-bar */
.topbar{
    background-color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar input{
    border: 1px solid var(--gray-color);
    border-radius: 8px;
    padding: 8px 20px;
    width: 140px;
    transition: .5s;
    position: relative;
}
.topbar .eye span{
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    display: none;
    transition: .3s;
}
.topbar .eye span:hover{
    color: var(--red-color);
}
.topbar input:focus::placeholder{
    opacity: 0;
}
.topbar input::placeholder{
    font-size: 13px;
    opacity: 1;
}
.topbar input:focus{
    outline: none;
    width: 200px;
}
.topbar div{
    display: flex;
    gap: 14px;
    position: relative;
}
.topbar div .nato img:first-child{
    width: 18px;
    position: relative;
}
.topbar div .nato:first-child::after{
    content: "";
    position: absolute;
    background-color: var(--red-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: -5px;
}
::placeholder{
    transition: .3s;
}
.topbar div img:last-child{
    width: 30px;
}
.topbar .eye img{
    position: absolute;
    top: 11px;
    left: 5px;
    z-index: 1;
}
/* end the top-bar */
/* start the dashboar */
.main-box{
    margin: 20px;
}
.main-box h1{
    position: relative;
    margin-bottom: 40px;
}
.main-box h1::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    background-color: black;
    width: 60px;
}
.main-box h1::before{
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    background-color: white;
    width: 120px;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 20px;
}
@media (max-width: 766px) {
    .main-grid{
        display: grid;
        grid-template-columns: minmax(200px,1fr);
        gap: 20px;
    }
}
.main-grid .box,.main-box .table{
    background-color: white;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
}
/* end the dashboar */
/* start welcome box*/
.main-grid .box.first{
    padding: 0;
}
.main-grid .box .hi{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 15px;
}
.main-grid .box .hi div:first-child h2{
    font-weight: bold;
    margin: 10px 0 10px;
}
.main-grid .box .hi div:first-child p{
    color: var(--gray-color);
}
.main-grid .box .hi div:last-child img{
    width: 200px;
}
.main-grid .box .profile{
    padding: 0 15px;
    height: fit-content;
    margin-top: -30px;
}
.main-grid .box .profile img{
    width: 60px;
    border: 3px solid transparent;
    border-radius: 50%;
    outline: 3px solid white;
}
.main-grid .box hr{
    border: 0;
    border-top: 1px solid var(--main-color);
}
.main-grid .box .user{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.main-grid .box .user .box span{
    color: var(--gray-color);
}
.main-grid .box .profile-btn {
    padding: 15px;
    text-align: right;
}
.main-grid .box .profile-btn button{
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 4px 6px;
    background-color: var(--blue-color);
    transition: .3s;
}
.main-grid .box .profile-btn button:hover{
    background-color: var(--blue-alt-color);
}
.main-grid .box .profile-btn button a{
    text-decoration: none;
    color: white;
}
@media (max-width: 766px) {
    .main-grid .box .user{
        flex-direction: column;
    }
    .main-grid .box .profile{
        text-align: center;
    }
    .main-grid .box .hi div:last-child img{
        display: none;
    }
}
/* end welcome box*/
/* start the quick DrAft */
.main-grid .box .common-head h2{
    font-weight: bold;
    margin: 10px 0 10px;
}
.main-grid .box .common-head p{
    color: var(--gray-color);
}
.main-grid .box .common-head p{
    color: var(--gray-color);
}
.main-grid .box .Quick-draft input,
.main-grid .box .Quick-draft textarea{
    display: block;
    width: 100%;
    border: 0;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 5px 15px;
}
.main-grid .box .Quick-draft input:focus,
.main-grid .box .Quick-draft textarea:focus{
    outline: none;
}
.main-grid .box .Quick-draft textarea{
    resize: none;
    margin-top: 15px;
    min-height: 180px;
}
.main-grid .box .Quick-draft div:last-child{
    text-align: right;
}
.main-grid .box .Quick-draft button{
    margin-top: 15px;
    border-radius: 5px;
    border: 0;
    transition: .3s;
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    padding: 4px 6px;
}
.main-grid .box .Quick-draft button:hover{
    background-color: var(--blue-alt-color);
}
/* end the quick DrAft */
/* start yearly targets */
.main-flex .box .target-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.main-flex .box .target-box >div:first-child{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.main-flex .box .target-box div:first-child img.icons{
    width: 11px;
}
.main-flex .box .target-box div:last-child{
    flex: 1;
}
.main-flex .box .target-box p{
    margin-top: 0;
    margin-bottom:5px;
}
.main-flex .box .target-box p:nth-child(2){
    color: var(--gray-color);
}
.main-flex .box .target-box .lvl{
    position: relative;
    width: 100%;
    height: 4px;
}
.main-flex .box .target-box .lvl div{
    width: 50%;
    height: 4px;

    position: absolute;
}
.main-flex .box .target-box:last-child .lvl::after {
    content: "";
    position: absolute;
}
.main-flex .box .target-box:last-child .lvl::before {
    content: "";
    position: absolute;
}
/*  */
.main-flex .box .target-box.one .blue{
    background-color: rgb(0 117 255 / 20%);
}
.main-flex .box .target-box.two .orange{
    background-color: rgb(245 158 11 / 20%);
}
.main-flex .box .target-box.three .green{
    background-color: rgb(34 197 94 / 20%);
}
/*  */
/*  */
.main-flex .box .target-box.one .blue {
    padding: 28px 34px !important;
}
.main-flex .box .target-box.one .blue img{
    width: 11px !important;
}
.main-flex .box .target-box.two .orange img{
    width: 19px !important;
}
.main-flex .box .target-box.three .green {
    padding: 30px 32px;
}
.main-flex .box .target-box.three .green img{
    width: 16px !important;
}
/*  */
.main-flex .box .target-box.one .lvl{
    background-color: rgb(0 117 255 / 20%);
}
.main-flex .box .target-box.two .lvl{
    background-color: rgb(245 158 11 / 20%);
}
.main-flex .box .target-box.three .lvl{
    background-color:rgb(34 197 94 / 20%);
}
/*  */
.main-flex .box .target-box.one .lvl div{
    width: 80%;
    background-color: var(--blue-alt-color);
}
.main-flex .box .target-box.two .lvl div{
    width: 55%;
    background-color: var(--orange-color);
}
.main-flex .box .target-box.three .lvl div{
    width: 75%;
    background-color: var(--green-color);
}
.main-flex .box .target-box .lvl div span{
    position: absolute;
    padding: 5px;
    border-radius: 4px;
    right: -20px;
    top: -35px;
    min-width: 40px;
    text-align: center;
    color: white;
    font-size: 13px;
}
.main-flex .box .target-box .lvl div span::after{
    content: "";
    position: absolute;
    border: 5px solid;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%); 
}
.main-flex .box .target-box.one .lvl div span::after{
    border-color: var(--blue-alt-color) transparent transparent;
}
.main-flex .box .target-box.two .lvl div span::after{
    border-color: var(--orange-color) transparent transparent;
}
.main-flex .box .target-box.three .lvl div span::after{
    border-color: var(--green-color) transparent transparent;
}
.main-flex .box .target-box.one .lvl div span{
    background-color: var(--blue-alt-color);
}
.main-flex .box .target-box.two .lvl div span{
    background-color: var(--orange-color);
}
.main-flex .box .target-box.three .lvl div span{
    background-color: var(--green-color);
}
/* end yearly targets */
/* start the tickets statistics */
.main-flex .box .tickets .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 15px;
}
@media (max-width: 766px) {
    .main-flex .box .tickets .cards {
        grid-template-columns: minmax(200px, 1fr);
    }
}
.main-flex .box .tickets .cards .box{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid var(--gray-color);
}
.main-flex .box .tickets .cards .box img{
    width: 40px;
    
}
.main-flex .box .tickets .cards .box h3{
    margin: 10px 0;
}   
.main-flex .box .tickets .cards .box p{
    margin: 0;
}
/* end the tickets statistics */
/* staet latst news */
.main-flex .box .latest-news .box{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 15px 0;
    border-radius: 0;
}
.main-flex .box .latest-news .box:not(:last-child){
    border-bottom: 1px solid var(--main-color);

}
.main-flex .box .latest-news .box .img{
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
}
.main-flex .box .latest-news .box .img img{
    display: block;
    width: 100%;
}
.main-flex .box .latest-news .box .days{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.main-flex .box .latest-news .box .days .content-news h4{
    margin: 0 0 8px;
}
.main-flex .box .latest-news .box .days .content-news p{
    margin: 0;
    font-size: 14px;
    color: var(--gray-color);
}
.main-flex .box .latest-news .box .days span{
    align-self: flex-end;
    margin-bottom: 8px;
    background-color: var(--main-color);
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
}
@media (max-width: 766px) {
    .spe{
        text-align: center;
    }
    .main-flex .box .latest-news .box{
        align-items: center;
    }
    .main-flex .box .latest-news .box{
        flex-direction: column;
    }
    .main-flex .box .latest-news .box .days{
        flex-direction: column;
        text-align: center;
    }
    .main-flex .box .latest-news .box .days span{
        margin-top: 5px ;
        align-self: center;
    }
}
/* end latst news */
/* start latest tasks */
.box .Latest-tasks .part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}
.box .Latest-tasks .part:nth-child(3){
    filter: opacity(.4);
}
.box .Latest-tasks .part:not(:last-child){
    border-bottom: 1px solid var(--main-color);
}
.box .Latest-tasks .part div:first-child h4{
    margin: 10px 0;
}
.box .Latest-tasks .part div:first-child p{
    color: var(--gray-color);
}
/* end latest tasks */
/* start top search */
.box .top .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .top .item p{
    font-size: 18px;
}
.box .top .item.spe p{
    color: var(--gray-color);
}
.box .top .item span{
    background-color: var(--main-color);
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 13px;
}
/* end top search */
/* start the latest Uploads*/
.box .all-file .file {
    display: flex;
    padding: 10px 0 10px 0;
}
.box .all-file .file:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.box .all-file .file div:first-child{
    width: 40px;
    margin-right: 10px;
}
.size{
    width: 100%
}
.box .all-file .file div:nth-child(2){
    flex: 1;
}
.box .all-file .file div:nth-child(2) h4{
    margin: 0;
    margin-bottom: 5px;
}
.box .all-file .file div:nth-child(2) p{
    color: var(--gray-color);
    margin: 0;
    font-size: 14px;
}
.box .all-file .file span{
    background-color: var(--main-color);
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 13px;
    align-self: center;
}
/* end the lastest Uploads */
/* start the last project progress */
.box .progress {
    position: relative;
}
.box .progress .all-progress{
    position: relative;
}
.box .progress .all-progress .prog{
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    position: relative;
    margin-top: 10px;
    font-size: 17px
}
.box .progress .all-progress::after{
    content: "";
    position: absolute;
    left: 12px;
    top: 10px;
    height: calc(100% - 20px);
    width: 2px;
    background-color: var(--blue-alt-color);

}
.box .progress .all-progress .prog div{
    width: 26px;
    height: 26px;
    display: inline-block;
    background-color: var(--blue-alt-color);
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid var(--blue-alt-color);
    position: relative;
    z-index: 3;
}
.box .progress .all-progress .prog:last-child div{
    background-color: white !important;
}
.box .progress .all-progress .prog:nth-child(4) div{
    animation: zed infinite linear 1s alternate;
}
@keyframes zed{
    from{
        background-color: var(--blue-alt-color);

    }
    to{
        background-color: white ;
    }
}
.box .progress  img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    filter: opacity(0.1);
}
@media (max-width: 766px) {
    .box .progress  img{
        display: none;
    }
}
/* end the last project progress */
/* start the reminders */
.box .reminders .job{
    border-left: 2px solid;
    padding-left: 10px;
    margin-left: 40px;
    position: relative;
    border-color: var(--blue-alt-color);
}
.box .reminders .job:nth-child(2){
    border-color: var(--green-color);
}
.box .reminders .job:nth-child(3){
    border-color: var(--orange-color);
}
.box .reminders .job:nth-child(4){
    border-color: var(--red-color);
}
.box .reminders .job::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--blue-alt-color);
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
    border-radius: 50%;
}
.box .reminders .job:nth-child(2)::after{
    background-color: var(--green-color);
}
.box .reminders .job:nth-child(3)::after{
    background-color: var(--orange-color);
}
.box .reminders .job:nth-child(4)::after{
    background-color: var(--red-color);
}
.box .reminders .job h4{
    margin-bottom: 10px;
}
.box .reminders .job p{
    margin: 0;
    color: var(--gray-color);
    font-size: 15px;
}
/* end the reminders */
/* start Latest post */
.box .post .padge{
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--main-color);
    padding-top: 15px;
    padding-bottom: 20px;
}
.box .post .padge img{
    width: 50px;
}
.box .post .padge div h4{
    margin:0px ;
    margin-bottom:6px ;
}
.box .post .padge div p{
    margin: 0;
    color: var(--gray-color);
}
.box .post .profile-content{
    line-height: 1.8;
    padding: 15px 0;
    font-size: 16px;
    border-bottom: 1px solid var(--main-color);
    text-transform: capitalize;
    min-height: 130px;
}
.box .post .likes{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
}
.box .post .likes div:first-child{
    display: flex;
    align-items: center;
    gap: 5px;
}
.box .post .likes div:first-child img{
    cursor: pointer;
    width: 19px;
}
.box .post .likes div:first-child span{
    color: var(--gray-color);
}
.box .post .likes div:last-child img{
    cursor: pointer;
    width: 19px;
}
.box .post .likes div:last-child span{
    color: var(--gray-color);

}

/* end Latest post */
/* start the social media stats */
.box .all-media{
    margin-top: 25px;
}
.box .all-media .media{
    background-color: rgb(29 161 242 / 20%);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}
.box .all-media .media:nth-child(2){
    background-color: rgb(24 119 242 / 20%);
}
.box .all-media .media:nth-child(3){
    background-color: rgb(255 0 0 / 20%);
}
.box .all-media .media:nth-child(4){
    background-color: rgb(0 119 181 / 20%);
}
.box .all-media .media div,
.box .all-media .media span
{
    background-color: #1da1f2;
    padding: 5px;
    transition: .4s;
}
.box .all-media .media:nth-child(2) div,
.box .all-media .media:nth-child(2) span
{
    background-color: #1877f2;
    padding: 5px;
    transition: .4s;
}
.box .all-media .media:nth-child(3) div,
.box .all-media .media:nth-child(3) span{
    background-color: #ff0000;
    padding: 5px;
    transition: .4s;
}
.box .all-media .media:nth-child(4) div,
.box .all-media .media:nth-child(4) span{
    background-color: #0077b5;
    padding: 5px;
    transition: .4s;
}
.box .all-media .media div:hover{
    transform: rotate(2deg);
}

.box .all-media .media div img{
    display: block;
    height: 40px;
    width: 40px;
}
.box .all-media .media h4{
    flex: 1;
    margin: 0;
    font-weight: normal;
    color: #1da1f2;
}
.box .all-media .media span{
    background-color: #1da1f2;
    padding: 6px 8px;
    border-radius: 6px;
    margin-right: 15px;
    color: white;
    cursor: pointer;
    font-size: 13px;
}
.box .all-media .media:nth-child(2) h4
{
    color: #1da1f2;
}
.box .all-media .media:nth-child(3) h4{
    color: #ff0000;
}
.box .all-media .media:nth-child(4) h4{
    color: #0077b5;
}
/* end the social media stats */
/* start the Projects */
.main-box .table{
    margin-top: 20px;
}
/* .table{
    overflow: hidden;
} */
.res-table{
    overflow-x: auto;
}
tr{
    transition: .5s;
}
table{
    min-width: 1100px;
}
.table table tbody tr{
    font-size: 13px;
}
table thead tr td{
    border-top: 1px solid var(--main-color);
}

table thead tr:first-child td{
    font-weight: bold;
    background-color: var(--main-color);
}
table{
    border-spacing:0;

}
td{
    padding: 10px;
    border-left: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
table tr td:last-child{
    border-right: 1px solid var(--main-color);
}
table  tr:hover {
    background-color: #Faf7f7f7;
}
.table table tr td img{
    width: 40px;
    border-radius: 50%;
    padding: 3px;
    background-color: white;
}
.table table tr td img:not(:first-child){
    margin-left: -20px;
}
.table table tr td.table-status{
    color: white;
}
.table table tr td.table-status span{
    padding: 5px;
    border-radius: 8px;
}
.table table tr:nth-child(5) td.table-status span{
    background-color: red;
}
.table table tr:nth-child(2) td.table-status span{
    background-color: var(--blue-color);
}
.table table tr:nth-child(3) td.table-status span,
.table table tr:nth-child(4) td.table-status span,
.table table tr:nth-child(6) td.table-status span
{
    background-color: var(--green-color);
}
.table table tr:nth-child(1) td.table-status span{
    background-color: orange;
}
/* end the Projects */